@import "tailwindcss";
@import "./styles/token.css";

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
  border-radius: var(--radius-lg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--radius-lg);
  border: 3px solid var(--muted);
  background-clip: content-box;
}